<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<title>가즈아</title>
	</head>
	<body>
		<div>
			<h1><a href="http://rubinstory.pythonanywhere.com">JY BLOG</a></h1>
			<p>이준영의 블로그 바로가기</p>
		</div>
		<div>
			<h1><a href="http://www.naver.com">네이버 바로가기</a></h1>
			<p>네이버는 한국에서 가장 큰 인터넷 사이트 중 하나입니다.</p>
		<div>
			<h1>-----------------------------------------------</h1>
		</div>
		{% for post in posts %}
    		<div>
	        	<p>published: {{ post.published_date }}</p>
    	    	<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
		{% endfor %}
    </body>
</html>